<div class="homeLandingPageContainer">

    <div class="introduction">
        <section>
            <article class="profile">
                <img src="/img/profile.png" alt="Profile picture of TSIORISOA Michel, Frontend Angular Web Developer"
                    width="100%" height="auto">
                <p class="profile_name">TSIORISOA Michel</p>
                <p class="profile_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil
                    repudiandae asperiores numquam neque velit commodi voluptate saepe cumque perspiciatis in
                    recusandae, maiores ducimus, quo dolorem facere eaque veritatis quia. Odio. Lorem ipsum dolor sit
                    amet, consectetur adipisicing elit. Ducimus vel odio temporibus, porro cum consequuntur debitis
                    omnis ratione. Magnam facilis tempora officiis, quia quo illum quibusdam illo sequi natus
                    consectetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus nulla, aliquam soluta
                    pariatur accusamus dicta earum, sunt, eveniet nesciunt laudantium quae asperiores optio. Officia
                    suscipit qui alias impedit exercitationem a!</p>
            </article>
        </section>
        <article>Article</article>
    </div>

    <aside>Aside</aside>


</div>