@use '../../styles/variables' as v;

div.homeLandingPageContainer {
    background-image: radial-gradient(v.$darkCharcoal 0.5px, transparent 1px);
    background-size: 20px 20px;
    background-attachment: fixed;

    min-height: 500px;
    background-color: v.$grey;
}