@use '../../../styles/variables' as v;


header {
    background-color: v.$onyx;
    color: v.$customYellow;

    select {
        background-color: v.$smoothDarkGrey;
        color: v.$silver;
    }


}