$lightChocolate: #544235;
$brightChocolate: #b8a695;
$shadeWhite: #fbf8f5;
$customYellow: #f8d673;
$customBlue: #313f54;
$lightWhite: #f5f5f5;
$vibrantOrangeShade: #DF711B;
$wood: #b17a50;
$aquaMarine: #00cfc8;
$black: black;
$darkCharcoal: #333333;
$grey: #BBBBBB