/* You can add global styles to this file, and also import other style files */
@use './styles/variables' as v;

html {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;

    }



    body {
        font-family: 'Roboto', sans-serif;


        a {
            text-decoration: none;
            color: v.$grey;

            &:hover {
                color: v.$orangeYellowCrayola;
            }

            &.activated_link {
                color: v.$orangeYellowCrayola;
            }
        }

        ul {
            list-style-type: none;
        }

        header {
            min-height: 50px;
        }

        main {
            min-height: 800px;
        }

        footer {
            min-height: 350px;
        }


        header,
        main,
        footer {
            max-width: 2600px;
            margin: 0 auto;
            padding: 10px;
        }




    }


}