@use '../../../styles/variables' as v;

footer {
    background-color: v.$onyx;
    color: v.$customYellow;

    div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;

        ul {
            border: solid 2px v.$shadeWhite;
            flex-grow: 2;

            h6 {
                color: v.$shadeWhite;
                font-size: larger;
                padding: 10px 30px;
            }

            li {
                a {
                    display: inline-block;
                    padding: 10px 30px;
                    background-color: v.$onyx;
                }
            }
        }
    }
}



@media screen and (min-width: 600px) {
    footer {
        div {
            flex-direction: row;
        }
    }
}